MONGODB_URI=""
JWT_SECRET=""
CLOUDINARY_API_KEY=""
CLOUDINARY_SECRET_KEY=""
CLOUDINARY_NAME=""
ADMIN_EMAIL=""
ADMIN_PASSWORD=""
ADMIN_NAME=""
TEST_USER_EMAIL=""
TEST_USER_PASSWORD=""
TEST_USER_NAME=""
STRIPE_SECRET_KEY=""
