name: "Lint PR Title"

on:
    pull_request:
        types:
            - opened
            - edited
            - synchronize
            - reopened

jobs:
    main:
        runs-on: ubuntu-latest
        steps:
            - uses: amannn/action-semantic-pull-request@v6
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

              with:
                  # Configure which types are allowed (newline delimited)
                  types: |
                      fix
                      feat
                      chore
                      test
                      CI
                      docs
                      bug
                  # Configure that a scope must always be provided e.g. feat(frontend).
                  requireScope: true
                  # sematic check will be skipped if the PR title is prefixed with WIP or [WIP]
                  wip: true
